/* Define standard variables and values for website */
$bgcolor: #293133;
$textcolor: white;
$fontsize: 17px;

/* Use the variables */
html {
  background-color: $bgcolor !important;
  color: $textcolor !important;
  font-size: $fontsize;
} 

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
